<launch>
    <!-- Robot Description -->
    <param name="robot_description" command="cat $(find cw_2)/urdf/robot.urdf" />
    
    <!-- World and Sim Time -->
    <arg name="world_name" default="$(find cw_2)/worlds/assessment_world.world" />
    <param name="use_sim_time" value="true"/>
    
    <!-- Start Gazebo server and GUI -->
    <node name="gazebo" pkg="gazebo_ros" type="gzserver" args="$(arg world_name)" />
    <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" />
    
    <!-- Spawn Robot -->
    <node name="spawn_sphere_pusher" pkg="gazebo_ros" type="spawn_model" args="-file $(find cw_2)/urdf/robot.urdf -urdf -x 1 -y 1 -z 0 -Y 1.5 -model sphere_pusher" />

    <!-- Load Controller Config -->
    <rosparam file="$(find cw_2)/config/diff_drive.yaml" command="load" />
    
    <!-- Start Joint State Publisher -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    
    <!-- Start Controller Manager -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" args="diff_drive_controller" />
</launch>