<launch>
    <!-- Set the GAZEBO_MODEL_PATH to include your models directory -->
    <env name="GAZEBO_MODEL_PATH" value="$(find cw_2)/models:/home/ash/ros/catkin_ws/src/cw_2/models"/>

    <!-- Robot Description -->
    <param name="robot_description" command="cat /home/ash/ros/catkin_ws/src/cw_2/urdf/robot.xacro" />

    <arg name="x" default="-0.569773"/>
    <arg name="y" default="-2.005698"/>
    <arg name="z" default="0.099999"/>
    <arg name="R" default="0.000002"/>
    <arg name="P" default="0.000013"/>
    <arg name="Y" default="-1.547400"/>

    <!-- World and Sim Time -->
    <arg name="world_name" default="/home/ash/ros/catkin_ws/src/cw_2/worlds/assessment_world.world" />
    <param name="use_sim_time" value="true"/>

    <!-- Start Gazebo server and GUI -->
    <node name="gazebo" pkg="gazebo_ros" type="gzserver" args="$(arg world_name)" />
    <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" />

    <!-- Spawn Robot -->
    <node name="spawn_sphere_pusher" pkg="gazebo_ros" type="spawn_model" output="screen" 
        args="-urdf -param robot_description -model sphere_pusher -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
    

</launch>